fastapi==0.115.12
uvicorn[standard]==0.34.0
pydantic==2.11.3
pydantic-settings==2.8.1
python-multipart==0.0.20
boto3==1.40.49
sqlalchemy==2.0.43
psycopg[binary]==3.2.12
alembic==1.16.5
pytest==8.3.5
httpx==0.28.1
